# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/
wheel-test/

# Packaging
build/
dist/
*.egg-info/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Secrets
.pypirc
.env
.env.*